body {
  background: #333 url(http://php.net/images/bg-texture-00.svg);
}

#ajaxSpinnerImage {
  display: none;
}

#load-button {
  width: 150px;
  display: block;
  margin: 20px auto;
}

#pdf-main-container {
  width: 100%;
  margin: 20px auto;
  text-align: center;
}

#pdf-loader {
  display: none;
}

#pdf-loading-bar {
  width: 150px;
  margin: 0 auto;
  border: 1px solid #cccccc;
  padding: 5px;
  height: 30px;
}

#pdf-loading-completed {
  display: inline-block;
  background-color: #2980b9;
  height: 100%;
}

#pdf-contents {
  display: none;
}

#pdf-meta {
  overflow: hidden;
  margin: 0 0 10px 0;
}

#pdf-buttons {
  float: left;
}

#page-count-container {
  margin-top: 1rem;
}

#pdf-current-page {
  display: inline;
}

#pdf-total-pages {
  display: inline;
}

#pdf-canvas {
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#page-loader {
  height: 100px;
  line-height: 100px;
  text-align: center;
  display: none;
  color: #999999;
  font-size: 13px;
}

#download-image {
  width: 150px;
  display: block;
  margin: 20px auto 0 auto;
  font-size: 13px;
  text-align: center;
}

.box-left,
.box-right {
  display: inline-block;
}

.box-input {
  width: 100%;
  margin: auto;
}

.form-group {
  text-align: -webkit-center;
}

.form-control {
  width: 20%;
  text-align: center;
}
